<div class="category-item">
  <div>
    <img
      src="{{ category.image }}"
      height="150px"
      width="150px"
      style="border-radius: 50px"
    />
  </div>
  <div>{{ category.name }}</div>
  <input
    [disabled]="isCategoryClick"
    type="text"
    name="category"
    class="form-control"
    id="category"
    aria-describedby="categoryHelp"
    placeholder="Enter Category Name"
    [(ngModel)]="category.name"
  />
  <div>
    <button
      class="btn btn-secondary"
      *ngIf="isCategoryClick"
      (click)="editCategory()"
    >
      Edit Category
    </button>
    <button
      class="btn btn-primary"
      *ngIf="!isCategoryClick"
      (click)="saveCategory()"
    >
      Save Category
    </button>
  </div>
</div>
